@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    
}

.animationTimeline{
    animation-timeline: view();
    animation-range: entry 0 ;
   

}

.overflow-hidden {
    overflow: hidden;
  }

.transition-left {
    transition: left 0.3s ease-in-out;
  }